*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    -color--nav:var(#232323);

}

html{
    scroll-behavior: smooth;
}

.hero{
    font-weight: 300;
}

.hero nav ul{
    text-decoration: none;
    background-color: #232323;
    text-align: center;
    font-size: 700;
}

.hero nav li{
     display: inline-block;
     margin: 1rem;
}

.hero nav ul li a{
    text-decoration: none;
     color: white;
     font-weight: 500;
     
}

.hero__nav{
    text-align: center;
}

.hero__nav h1{
    margin-top: -3rem;
    font-weight: 100;
    font-size: 4rem;
}

.hero__nav p{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 100;
    font-size: 1.5rem;
    margin-left: -0.25rem;
}

.cta{
    background-color: #ffa500;
    padding: .75rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    color: #232323;
    font-size: 1.25rem;
    font-weight: 700;
   
   
}

.hero__nav a{
    margin-top: 1.5rem;
}


.hero__background{
   background-image:url(/pexels-narda-yescas-1566837.jpg);
   min-height: 75vh;
   width: 100%;
     background-size: cover;
     position: relative;
     display: inline-block;
     
     
     
   
}

.hero__nav {
            margin-top:7rem;
            color: white;
}

body{
    font-family: sans-serif;
    overflow-x: hidden;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}


h2{
    font-size: 3rem;
}



                            /*        Menu        */

.menu{
    padding: 4rem;

}     


.menu h2{
    text-align: center;
    font-size: 3rem;
    
}      

.menu ul{
    text-align: center;
    margin-top: 2rem;
}

.menu li{
    display: inline-block;
    background-color: #eadddd;
    height: 22rem;
    width: 22rem;
    margin-left: 2rem;
     margin-right: 2rem;
     margin-bottom: 2rem;
     border-radius: 7px;
     text-align: left;
     box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.5);
     
    
    
}

.menu li img{
     object-fit: cover;
     height: 12rem;
     width: 100%;
     border-top-left-radius: 7px;
     border-top-right-radius: 7px;
     display: inline-block;
      
     
}

.menu h3, .menu p{
    
    padding: 1rem 1.25rem 0;
    
}

                    /*        Sobre Nós       */


.sobre{
    text-align: center;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, 0.8)100%  ), url(/pexels-narda-yescas-1566837.jpg);
    background-size: cover;
    min-height: 15rem;
    background-position: center;
    color: white;
    

}     

.sobre h2{
    padding-top: 2rem;
}

.sobre p{
    padding-top: 1rem;
}

p :not(.contato){
    font-size: 1.25rem;
    font-weight: 100;
}


/*      Contato      */


.contato{
    text-align: center;
}

.contato h2{
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}
#contato__botton{
    display: inline-block;
    
}

strong{
    font-weight: 900;
}

address > li, address div{
    display: inline-block;
    margin: 1.5rem;
    text-align: left;
}
address{
    margin: 4rem 0;
    font-style: italic;
}







footer{
    background-color: #232323;
    color: white;
    padding: 2rem;
    margin-top: 10rem;
    text-align: center;
}